<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start" *ngIf="isMobile">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title *ngIf="isMobile">cotxoxs</ion-title>
        <ion-buttons *ngIf="!isMobile">
            <ion-button [routerLink]="['/home']" routerLinkActive="router-link-active">cotxoxs</ion-button>
            <ion-button [routerLink]="['/conductores']" routerLinkActive="router-link-active">Conductores</ion-button>
            <span style="flex: 1 1 auto"></span>
            <ion-button>Registrarse</ion-button>
            <ion-button>Iniciar Sesión</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>